<a href="https://colab.research.google.com/github/TasnovaSUST/Python/blob/main/Important_Class_ipynp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'student_name = '      i am not tasnova.       '
print(student_name.strip())
print(student_name.capitalize())

i am not tasnova.
      i am not tasnova.

In [ ]:
num = 10
if num%2 == 0:
 print("even")
else:
  print("odd")

even

In [ ]:
for i in range(3,4):
 for j in range(1,11):
  print(f"{i} * {j} = {i*j}")

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
name = input("My name: ")
age = input("My age: ")
print("Welcome")

My name: T
My age: 2
Welcome

In [ ]:
string1="Bangladesh"
string2="India"
if len(string1)>len(string2):
 print(f"The string with the greater length is {string1}")
if len(string1)<len(string2):
 print(f"The string with the greater length is {string2}")
else:
  print("so,Both strings are not  equal length")

The string with the greater length is Bangladesh
so,Both strings are not  equal length

In [ ]:
num = [1,4,7,3,2,5,7,2,8]
even_total=0
for i in num:
  if i%2==0:
    even_total+=i
print("sum:",even_total)

sum: 16

In [ ]:
string = "Tasnova"
length = 0
for i in string:
 length+=1
 print(length)

1
2
3
4
5
6
7

In [ ]:
person = {
  "Name": "Tasnova",
  "Nationality": "Bangladesh",
  "Relatives": {"Father","Mother","sister","Brother"},
   "Brothers": {"1"},
    "Name": "Imran Sharker",
    "Date of Birth": "2000"
    }
print(person['Name'])
print(person['Nationality'])
print(person['Relatives'])
print(person['Brothers'])
print(person['Name'])
print(person['Date of Birth'])

Imran Sharker
Bangladesh
{'Father', 'sister', 'Brother', 'Mother'}
{'1'}
Imran Sharker
2000

In [ ]:
groceries = ['A', 'B', 'C', 'D','E']
for index, item in enumerate(groceries):
  if groceries[index] == 'E':
    groceries[index] = 'L'
print(groceries)

['A', 'B', 'C', 'D', 'L']

In [ ]:
inventory = {
    'apple': 10,
    'banana': 5,
    'orange' : 8
}
inventory['apple'] += 5
if 'grape' not in inventory:
  inventory['grape'] = 15
  print(inventory)

{'apple': 15, 'banana': 5, 'orange': 8, 'grape': 15}

In [ ]:
a = 10
b = 10.5
#c = " This is a number addition "
#name = "Printer"
print(a, b, sep=" + ", end = "\n")
print('=', a+b)

10 + 10.5
= 20.5

In [ ]:
print("Hello Wprld!")

Hello Wprld!

In [ ]:
name = 'Tasnova'
age = 23
print(f'My name is {name}, I am {age} years old.')

My name is Tasnova, I am 23 years old.

In [ ]:
a = 19
b = 20
print(a, b, sep=" + ", end="\n")
print('=', a+b)

19 + 20
= 39

In [ ]:
fruits = ['apple', 'banana', 'orange']
print("Fruits list:", fruits)
for index, item in enumerate(fruits):
  print(index, item)

Fruits list: ['apple', 'banana', 'orange']
0 apple
1 banana
2 orange

In [ ]:
country = ['Bangladesh', 'India', 'Pakistan']
capital = ['Dhaka', 'New Delhi', 'Islamabad']
print(country, capital)
for country, capital in zip (country, capital):
 print(f"Country: {country}, Capital: {capital}")

['Bangladesh', 'India', 'Pakistan'] ['Dhaka', 'New Delhi', 'Islamabad']
Country: Bangladesh, Capital: Dhaka
Country: India, Capital: New Delhi
Country: Pakistan, Capital: Islamabad

In [ ]:
def print_primes_for_loop():
    print("Prime numbers between 1 and 50 :")
    for num in range(2, 51):
        is_prime = True
        for i in range(2, num):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            print(num, end=" ")
    print()

#  a while loop
def print_primes_while_loop():
    print("Prime numbers between 1 and 50 :")
    num = 2
    while num <= 50:
        is_prime = True
        i = 2
        while i < num:
            if num % i == 0:
                is_prime = False
                break
            i += 1
        if is_prime:
            print(num, end=" ")
        num += 1
    print()

# Call the functions
print_primes_for_loop()
print_primes_while_loop()

Prime numbers between 1 and 50 :
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47
Prime numbers between 1 and 50 :
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [ ]:
stat = {
    'Alia': 85,
    'Boby': 72,
    'Chameli': 45,
    'Disha': 63,
    'Ema': 91
}

def get_grade(mark):
    if 80  <= 100:
        return "A+"
    elif 70  < 80:
        return "A"
    elif 60  < 70:
        return "A-"
    elif 50  < 60:
        return "B"
    else:
        return "F"

for student, mark in stat.items():
    grade = get_grade(mark)
    print(f"{student} received a grade of {grade}")

Alia received a grade of A+
Boby received a grade of A+
Chameli received a grade of A+
Disha received a grade of A+
Ema received a grade of A+

In [ ]:
side_of_square = input("Give length of a side of square: ")
square_area = int(side_of_square) **2
print(f'Here is the area of a square : {square_area}')

Give length of a side of square: 10
Here is the area of a square : 100

In [ ]:
name = "Tasnova"
print(len(name))

7

In [ ]:
a = 10
b = 5
print("ab=", a*b)
print("a/b=", a/b)
#print("a%b", a%b)
print(a % b)

ab= 50
a/b= 2.0
0